{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="body advert">
        <!-- 面包屑 -->
        <ol class="breadcrumb">
            <li><a href="javascript:;">广告管理</a></li>
            <li class="active">添加广告</li>
        </ol>
        <div class="advert-add">
            <!-- form 需要异步提交 阻止跳转 -->
            <form action="/advert/add" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">标题</label>
                    <div class="col-md-5">
                        <input type="text" name="title" required class="form-control input-sm" placeholder="填写广告标题">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">图片</label>
                    <div class="col-md-5">
                        <input type="file" id="file" name="image" required class="form-control input-sm" placeholder="填写广告图片">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">链接</label>
                    <div class="col-md-5">
                        <input type="text" name="link" required class="form-control input-sm" placeholder="填写广告链接">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">开始时间</label>
                    <div class="col-md-5">
                        <input type="text" name="start_time" required class="form-control input-sm" placeholder="填写广告开始时间">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">结束时间</label>
                    <div class="col-md-5">
                        <input type="text" name="end_time" required class="form-control input-sm" placeholder="填写广告结束时间">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-success btn-sm pull-right" value="保存"></input>
                    </div>                          
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

var formData = new FormData()

//demo xml提交 带文件
// $('form').on('submit',function(e){
//     formData.append('name','jack')
//     formData.append('age',18)
//     formData.append('file',document.getElementById('file').files[0])
//     console.log(formData)
//     var xhr = new XMLHttpRequest()
//     xhr.open('post','/advert/add')
//     xhr.send(formData)
//     return false
// })

// 需要修改提交方式 form-data 
$('form').on('submit',function(e){
    // console.log(new FormData($(this)[0]))
    $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        timeout: 50000,
        // data:$(this).serialize(), // 文件不会被序列化
        data: new FormData($(this)[0]),
        processData: false,
        contentType: false,
        success: function(data){
            if(data.err_code === 0){
                window.location.href = '/advert'
            }
        }
    })
    return false
})
// </script>
{% endblock %}
